<template>
  <div>
    <h1 class="aboutTitle">Let Me Introduce Myself</h1>
    <div class="aboutContainer">
      <div class="headshotContainer">
        <img
          class="headshot"
          src="/assets/images/Circle Headshot Small.jpg"
          alt="Headshot of Steven"
        />
      </div>
      <div class="aboutText">
        Hi my name is Steven, and this is my portfolio. I am a full stack
        developer. I graduated from Fanshawe's Computer Programmers Analyst
        program in December 2019. CPA2 was a Co-Op program and I spent all three
        of my co-op semesters at TD Bank's Fraud and Financial Crimes Department
        and I am now ready to enter the workforce.
        <br />
        <br />
        I'm no stranger to teamwork, since I've played hockey and baseball for
        over 10 years. I'm a fast learner who can adapt to any situation. I have
        strong problem solving skills and follow instructions to the T. I'm
        detail oriented and have never missed a day of school or work since
        starting at Fanshawe.
        <br />
        <br />
        Please check out the rest of my portfolio and feel free to contact me at
        any time!

        <h2>Quarantine Catch Up</h2>
        What have I've been doing during the COVID-19 quarantine?
        <br />
        <br />
        Starting in May, in order to stay active I've been walking around the
        neighborhood every day for 45 mins. Rain or shine I go on my daily walk.
        So far I've walked over 750km!
        <br />
        <br />
        I finished building a Bartop Arcade. Over a year in the making,
        progressing on and off between school and work. Powered by a credit card
        sized computer called a Raspberry Pi, and retro game emulation software
        RetroPie. This was my first woodworking project; I learned a lot and it
        turned out better than I imagined.

        <h2>Entertainment Tastes</h2>
        I love playing video games. My favourite games are single player 3rd
        person action games like the God of War series, Uncharted, Mafia or the
        Batman Arkham games.
        <br />
        <br />
        I'm a movie buff and like movie trivia. I'll watch a movie from any
        genre or era but prefer crime thrillers. During the spring, I watched
        all 24 James Bond movies. My favourite directors are David Fincher and
        Denis Villeneuve, and my favourite TV shows are Chernobyl and
        Mindhunter.
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AboutPage",

  methods: {
    openLink(url) {
      window.open(url);
    },
  },
};
</script>

<style scoped>
html * {
  color: #317691;
}

h2 {
  margin: 10px 0 10px 0;
}

.aboutContainer {
  display: flex;
}

.aboutTitle {
  text-align: center;
  margin: 3% 0 3% 0;
}

.headshotContainer {
  text-align: center;
  margin: 20px;
  flex: 0 0 30%;
}

.headshot {
  width: 75%;
}

.aboutText {
  margin: 0 5% 5% 0;
  flex: 1;
}

.contactButton {
  margin: 10px 10px 10px 0px;
  background: linear-gradient(to bottom right, #66ffff 0%, #0066ff 100%);
}

@media only screen and (max-width: 580px) {
  .aboutContainer {
    display: block;
  }
  .aboutTitle {
    text-align: center;
    margin: 5%;
  }
  .headshotContainer {
    text-align: center;
    margin: 20px;
    flex: 0 0 30%;
  }
  .headshot {
    width: 50%;
  }
  .aboutText {
    margin: 0 10% 5% 10%;
    flex: 1;
  }
}
</style>
