<template>
  <div>
    <h1>Education</h1>
    <div class="educationTextContainer">
      <div class="fanshaweLogoContainer center">
        <img
          :src="baseURL + 'fanshawe_logo.jpeg'"
          :alt="'fanshawe logo'"
          class="fanshaweLogo"
        />
      </div>

      <div class="educationInfo">
        I'm a graduate from Fanshawe College's Computer Programmer Analyst
        program. I am knowledgeable in object oriented programming,
        client/server development and database design.
        <br />
        <br />
        <h3>Accomplishments</h3>
        <ul>
          <li>Graduated in December 2019</li>
          <li>GPA of 4.03 out of 4.2</li>
          <li>
            5 time recipient of the Dean's Honour Roll for having a semester GPA
            greater than 3.90
          </li>
        </ul>
        <br />
        I'm a big proponent of always continuing my education and constantly
        learning new things. Recently I've been learning the Unity game engine
        and the 3D modeling software Blender.
        <br />
        <br />
        I am fluent in French and English. I attended French first language and
        French Immersion schools throughout my education.
        <br />
        <br />
        If you would like to receive an official copy of my transcript from
        Fanshawe College, please email me with a mailing address and I will
        gladly contact the college. Otherwise a copy of my transcript is
        available below, along with my Fanshawe College Diploma and French
        Immersion certificate.
      </div>
    </div>

    <div class="slides">
      <Carousel
        :images="transcript"
        :baseURL="'/assets/images/educationLogo/'"
      />
    </div>

    <h2>Languages</h2>
    <div class="educationComponentContainer">
      <div
        class="educationComponent"
        v-for="education in languages"
        :key="education.name"
        v-staggeredAnimation
      >
        <Education :education="education" />
      </div>
    </div>
    <h2>Frameworks & Libraries</h2>
    <div class="educationComponentContainer">
      <div
        class="educationComponent"
        v-for="education in webFrameWorks"
        :key="education.name"
        v-staggeredAnimation
      >
        <Education :education="education" />
      </div>
    </div>
    <h2>Databases</h2>
    <div class="educationComponentContainer">
      <div
        class="educationComponent"
        v-for="education in databases"
        :key="education.name"
        v-staggeredAnimation
      >
        <Education :education="education" />
      </div>
    </div>
    <h2>Other</h2>
    <div class="educationComponentContainer">
      <div
        class="educationComponent"
        v-for="education in other"
        :key="education.name"
        v-staggeredAnimation
      >
        <Education :education="education" />
      </div>
    </div>
    <br />
    <br />
  </div>
</template>

<script>
import Education from "../components/Education";
import Carousel from "../components/Carousel";
export default {
  name: "EducationPage",
  components: { Education, Carousel },
  data() {
    return {
      baseURL: `/assets/images/educationLogo/`,
      transcript: [
        "Transcript_1_censored.jpg",
        "Transcript_2_censored.jpg",
        "Transcript_3_censored.jpg",
        "Certificate.jpg",
        "French_Diploma.jpg",
      ],
      languages: [
        {
          name: "Java",
          comfortLevel: "High",
          type: "Fanshawe",
          logo: "java_logo.png",
        },
        {
          name: "C#",
          comfortLevel: "High",
          type: "Fanshawe",
          logo: "c_sharp_logo.svg",
        },
        {
          name: "JavaScript",
          comfortLevel: "High",
          type: "Fanshawe",
          logo: "javascript_logo.png",
        },
        {
          name: "HTML/CSS",
          comfortLevel: "Medium (CSS)",
          type: "Fanshawe",
          logo: "html_logo.png",
        },
        {
          name: "C++",
          comfortLevel: "Medium",
          type: "Fanshawe",
          logo: "c_plus_plus_logo.png",
        },
        {
          name: "COBOL",
          comfortLevel: "Low",
          type: "Fanshawe",
          logo: "cobol_logo.jpg",
        },
        // {
        //   name: "Python",
        //   comfortLevel: "Low",
        //   type: "Self Taught",
        //   logo: "python_logo.png",
        // },
        // {
        //   name: "PHP",
        //   comfortLevel: "Low",
        //   type: "Fanshawe",
        //   logo: "php_logo.png",
        // },
      ],
      webFrameWorks: [
        {
          name: "Angular",
          comfortLevel: "High",
          type: "Fanshawe",
          logo: "angular_logo.png",
        },
        {
          name: "Vue.js",
          comfortLevel: "High",
          type: "Self Taught",
          logo: "vue_logo.png",
        },
        {
          name: "Node.js",
          comfortLevel: "High",
          type: "Fanshawe",
          logo: "nodejs_logo.png",
        },
        {
          name: "WPF",
          comfortLevel: "High",
          type: "Fanshawe",
          logo: "wpf_logo.png",
        },
        {
          name: "Android",
          comfortLevel: "High",
          type: "Fanshawe",
          logo: "android_logo.svg",
        },

        {
          name: "React",
          comfortLevel: "Medium",
          type: "Fanshawe",
          logo: "react_logo.png",
        },
        {
          name: "ASP.NET",
          comfortLevel: "Medium",
          type: "Fanshawe",
          logo: "aspnet_logo.png",
        },
        {
          name: "Spring Boot",
          comfortLevel: "Medium",
          type: "Fanshawe",
          logo: "springboot_logo.png",
        },
      ],
      databases: [
        {
          name: "SQL Server",
          comfortLevel: "Extreme",
          type: "Fanshawe",
          logo: "sqlserver_logo.svg",
        },
        {
          name: "SSIS",
          comfortLevel: "Extreme",
          type: "TD",
          logo: "ssis_logo.jpg",
        },
        {
          name: "Oracle",
          comfortLevel: "Medium",
          type: "Fanshawe",
          logo: "oracle_logo.png",
        },
        {
          name: "MySQL",
          comfortLevel: "Medium",
          type: "Fanshawe",
          logo: "mysql_logo.svg",
        },
        {
          name: "PostgreSQL",
          comfortLevel: "Medium",
          type: "Self Taught",
          logo: "postgres_logo.png",
        },
        {
          name: "Firebase",
          comfortLevel: "Medium",
          type: "Fanshawe",
          logo: "firebase_logo.png",
        },
        {
          name: "MongoDB",
          comfortLevel: "Medium",
          type: "Fanshawe",
          logo: "mongodb_logo.svg",
        },
        // {
        //   name: "MariaDB",
        //   comfortLevel: "Low",
        //   type: "Fanshawe",
        //   logo: "mariadb_logo.png",
        // },
      ],
      other: [
        {
          name: "Microsoft Office Suit",
          comfortLevel: "High",
          type: "Self Taught",
          logo: "micorsoft_office_suit_logo.png",
        },
        {
          name: "Git",
          comfortLevel: "Medium",
          type: "Fanshawe",
          logo: "git_logo.png",
        },
        {
          name: "Agile Development",
          comfortLevel: "Medium",
          type: "Fanshawe",
          logo: "agile_logo.png",
        },
      ],
    };
  },
  methods: {},
};
</script>

<style scoped>
html * {
  color: #317691;
}
h1,
h2 {
  text-align: center;
  margin: 20px;
  margin-top: 40px;
}

.center {
  text-align: center;
}

.educationTextContainer {
  display: flex;
}

.fanshaweLogoContainer {
  flex: 0 0 30%;
}

.fanshaweLogo {
  width: 75%;
}

.educationInfo {
  flex: 1;
  margin: 0 5% 2.5% 5%;
}

.educationComponentContainer {
  text-align: center;
}
.educationComponent {
  display: inline-block;
}
.carouselButton {
  margin: 10px;
  background: linear-gradient(to bottom right, #66ffff 0%, #0066ff 100%);
}

.slides {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
}

@media only screen and (max-width: 580px) {
  .educationTextContainer {
    display: block;
  }
}

.notVisible {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0px);
}
</style>
