<template>
  <div class="errorContainer">
    <div class="bigNum center">404</div>
    <div class="verticalBar"></div>
    <hr center class="dividerBar" />
    <div class="errorText">
      <h1 class="errortitle">Error! Page not found</h1>
      <h2 class="errorMessage">
        Please click on one of the tabs above to find out more about me and what
        I can offer!
      </h2>
    </div>
  </div>
</template>

<script>
export default {
  name: "ErrorPage",
};
</script>

<style scoped>
html * {
  color: #317691;
}

.errorContainer {
  display: flex;
  margin: 5%;
}

.bigNum {
  font-size: 100px;
  flex: 0 0 30%;
}

.verticalBar {
  width: 2px;
  border-radius: 4px;
  background: linear-gradient(to bottom right, #66ffff 0%, #0066ff 100%);
}

.errorText {
  flex: 1;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 10px;
}

.center {
  text-align: center;
}

.dividerBar {
  margin: auto;
  margin: 20px;
  background: linear-gradient(to bottom right, #66ffff 0%, #0066ff 100%);
  height: 2px;
  border: 0px;
  /* width: 75%; */
}

@media only screen and (max-width: 580px) {
  .errorContainer {
    display: block;
  }
}
</style>
