<template>
  <div class="projectContainer">
    <h1>Projects</h1>

    <!-- <sequential-entrance delay="250" fromBottom> -->
    <div v-for="project in projects" v-bind:key="project.name">
      <Project v-bind:project="project" />
    </div>
    <!-- </sequential-entrance> -->
  </div>
</template>

<script>
import Project from "../components/Project";
export default {
  name: "ProjectsPage",
  components: { Project },
  data() {
    return {
      projects: [
        // Portfolio
        {
          name: "This Portfolio",
          stack: "Vue.js, Vuetify",
          type: "Solo hobby",
          year: "Fall 2020",
          shortDescription:
            "I made this portfolio! The one your looking at right now!",
          description: [
            "In order to hone my skills and to show my ability to adapt to new situations, I challenged myself to create this portfolio with a framework I've never used before Vue.js. My goal was to make it look sleek and simple.",
            "<b>Features</b>",
            "<ul><li>A custom image carousel with all of the expected features, such as next and previous image buttons, indicating dots, and image zoom</li><li>Scroll to top of the page button</li><li>Wiggle animation when hovering on projects</li><li>Industry and general work experience</li><li>Outlines my education and my current abilities as a developer</li><li>Displays school and hobby projects, with descriptions, pictures, website links and source code</li></ul>",
          ],
          images: [],
          website: "",
          android: false,
          bitbucket: "https://bitbucket.org/stevespecht/portfolio/commits/",
          logoIcon: true,
          colour: "#40c9ff",
          logo: "mdi-briefcase",
          logoColour: "#317691",
          hint:
            "Click on a project to see a full description, pictures, a link to the project itself and source code",
        },
        // TD Vision
        {
          name: "TD Vision",
          stack: "Android, MLKit",
          type: "Group of 2 at Fanshawe",
          year: "Fall 2019",
          shortDescription:
            "TD Vision is an Android app developed for the 2019 TD Challenge and designed to leverage the power of machine learning to correctly identify bills and convert their values to a different currency using current exchange rates.",
          // "TD Vision is an Android app developed for the 2019 TD Challenge, designed to correctly identify bills and convert their values to a different currency using machine learning.",
          description: [
            "<b>What Is TD Challenge?</b>",
            "TD Challenge is a competition organized by Fanshawe College and TD Bank. The goal of the 2019 TD Challenge was to make an Android application that utilized Google's machine learning suite, MLKit, to achieve a creative task involving finance, and doing so in a user friendly format.",
            "My partner and I accomplished the first task by creating a custom model that gives us extremely high accuracy in recognizing bills from multiple different countries, then using current exchange rates to convert their values to other currencies.",
            "We accomplished the second by putting a lot of attention into the user experience and making it fit in with the current suite of TD apps. We used the TD palette of colours to make our app feel more familiar to TD users, added a splash screen so that the user has something to look at as the app was loading, added animations between screen changes, and added gesture detection to give the user the choice on how they want to change screens.",
            "These two achievements together gave us an app that is both aesthetically appealing as well as functional; characteristics which make us very proud of TD Vision, and netting us award for honorable mention in the process.",
            "<b>Who Needs TD Vision?</b>",
            "TD Vision helps vacationers identify and convert foreign money using the power of machine learning! Consider being in a foreign country where you don’t speak the local language. You get some local money but you don’t know the value or even the name of the currency of the bills you’ve received. Since you can’t read the text, how are you supposed to search for the name or the value of your money on Google? That’s where TD Vision comes in!",
            "<b>How To Use TD Vision</b>",
            "Using TD Vision is incredibly simple. You just need to take a picture of a bill you would like identified and voila, once identified the bill and its value will appear in a dialog. You then save this information to Your Scans, or retake the photo if you believe the identification to be incorrect. If a bill was not identified, then you will be prompted to center the bill in the frame and take a new picture.",
            "Once you have scanned all the bills you would like identified, you can go to the Your Scans page, either by clicking ‘Your Scans’ on the menu at the bottom, or by sliding the screen to the left.",
            "In Your Scans you will see a list of all the bills you have scanned. If the value or the currency or a bill was incorrectly entered you can edit them here by clicking on it in the list to bring up the update and delete dialogue. If you are interested in the value of another currency that you don’t have to take a photo of, you can also use the edit option to see what it would be worth. You can also use the dialogue to delete a bill you no longer want included. At the bottom of the Your Scans page there is a drop down of all the currencies TD Vision currently supports. Simply change the drop down to the currency you would like your scanned bills to be converted into, and the total will be updated to reflect that change. It doesn’t matter if you scanned multiple bills from many different countries because TD Vision can handle that easily.",
            "Once you are done and don’t need your scans anymore you simply click the ‘Clear’ button to clear your scans. Alternatively you can go back to the Scanner page by clicking ‘Scanner’ on the menu at the bottom, or by swiping to the right, to add more bills to Your Scans.",
            "<b>Internet Access While Travelling</b>",
            "Since vacationers might lack an internet connection TD Vision can be used completely offline. However, if you are connected to the internet TD Vision will use the European Central Bank’s current exchange rates by accessing them through the API at https://exchangeratesapi.io. If you are not currently using the internet but have used the app previously while connected to the internet, the exchange rate values from that previous use will have been cached by the HTTP library used to get the API data, Volley. If you are not connected to the internet, and never have been while using the app, hardcoded values representing exchange rates as of December 1st, 2019 will be used.",
            "<b>The Model</b>",
            "TD Vision can correctly identify bills by using an MLKit model that we have custom made and trained. The model features 2057 images of bills taken from either side, at a multitude of angles, on a variety of surfaces, to ensure a correct identification regardless of the angle or the condition of the bills. TD Vision currently supports 10 different bills from 3 different countries; Canadian Dollars 5, 10, and 20. Euro 5, 10, and 20 and United States Dollars 1, 5, 10, and 20. Since each supported bill has 200 reference pictures and the model was trained using high accuracy learning, we are confident that it will correctly identify the bills you present to it.",
            "<b>The Possible Future of TD Vision</b>",
            "In the future TD Vision could easily support more currencies from more countries, as well as supporting the scanning of coins in addition to bills. Many currencies also have multiple releases, such as the various commemorative bills or versions that have been replaced but are still legal tender, which could be supported as well. Our ultimate goal is for TD Vision to never encounter a currency, bill or coin that it could not identify.",
            "<b>Notice</b>",
            "TD Vision has been rebranded as Currency Vision. All logos and references to TD Bank have been removed for deployment to the Google Play Store for demonstration purposes.",
          ],
          images: [
            "TDChallenge/TD_Challenge_Certificate.jpg",
            "TDChallenge/Scanning_a_Bill.png",
            "TDChallenge/Bill_Detected.png",
            "TDChallenge/Scanner_Instructions.png",
            "TDChallenge/Your_Scans.png",
            "TDChallenge/Your_Scans_Instructions.png",
          ],
          website:
            "https://play.google.com/store/apps/details?id=com.sspecht.tdchallenge",
          android: true,
          bitbucket:
            "https://bitbucket.org/stevespecht/td-challenge-public/commits/",
          logoIcon: false,
          colour: "#00b624",
          logo: "td_vision_logo_big.png",
          hint: "Award Winner",
        },
        // Uncap Your Stats
        {
          name: "Uncap Your Stats",
          stack: "React, Node.js, PostgreSQL",
          type: "Solo hobby",
          year: "Spring 2020",
          shortDescription:
            "Uncap Your Stats is a companion website to the beer tracking website Untappd.com, and displays your craft beer statistics.",

          description: [
            "To give some context, I am a craft beer enthusiast, I love trying new beers and whenever I buy beer, I will always buy something different. To keep track of my craft beer hobby I use a website called Untappd to track which beers I’ve had and to discover new breweries.",
            "<b>Why Make Uncap Your Stats?</b>",
            "At the time of making Uncap Your Stats, Untapped didn’t offer any statistics on the beers you’ve checked in (however they did recently add a statistics page of their own). Wanting to see statistics on the beers I’ve drank, I decided to make my own website displaying your stats about your Untappd account, and Uncap Your Stats was born. ",
            "<b>How Does Uncap Your Stats Work?</b>",
            "Anyone with an Untappd account can use Uncap Your Stats. Simply search your Untappd username and Uncap Your Stats will display some stats! Uncap Your Stats features a pie chart and table of the various countries you’ve had beers from, the different styles of the beers you’ve tried and displays a map of the world showing all the breweries you’ve tasted.",
            "Behind the scenes is a React front end, a Node.js back end and a PostgreSQL database. Communication between front end and back end is achieved through Socket.io. After searching a Untappd username, the username is passed to the server where each statistical component, country stats, styles stats and brewery stats will prepare their data asynchronously. For each statistical component, your Untappd account will be scraped with Cheerio.js, then the data is parsed. ",
            "For the brewery map component, the names of your breweries are passed to the Google Maps API to be geocoded in order to be place on a map. Because someone might have hundreds of breweries on their account and calling the Googles Maps API often could get costly, the data retuned by the API, longitude and latitude and address, are stored in a PostgreSQL database so that any brewery only needs to be geocoded once. Once the breweries are scraped, the known address for breweries are read from the database and any unknown breweries are geocoded. Once all the data is ready, it is returned to the front end to be displayed.",
            "<b>Notice</b>",
            "Due to Uncappd.com implementing their own statitics page, a paid feature, and since I am obtaining a user's Untappd account stats for Uncap Your Stats via scraping I thought it was unethical to continue the development of Uncap Your Stats.",
            "If you don't have an Untappd.com account and would still like to see Uncap Your Stats display account stats, Uncap Your Stats offers a test account to show off it's features!",
            "Uncap Your Stats is hosted on Heroku and may be sleeping, therefore it may take awhile to wake up. Please be patient!",
          ],
          images: [
            "UncapYourStats/MainPage.png",
            "UncapYourStats/BeersPerCountry.png",
            "UncapYourStats/BeerStyles.png",
            "UncapYourStats/Map.png",
            "UncapYourStats/MapSorted.png",
          ],
          website: "https://uncapyourstats.herokuapp.com/",
          android: false,
          bitbucket: "https://bitbucket.org/stevespecht/untappd-tools/commits/",
          logoIcon: true,
          colour: "#ffcc00",
          logo: "mdi-beer",
          logoColour: "#cc6600",
          hint: "Passion Project",
        },
        // PlayStation Trophy Calculator
        {
          name: "PlayStation Trophy Calculator",
          stack: "Angular",
          type: "Solo hobby",
          year: "Fall 2020",
          shortDescription:
            "PlayStation Trophy Calculator calculates a PlayStation profile's trophy level using the number of bronze, silver, gold and platinum trophies they have earned.",
          description: [
            "PlayStation Trophy Calculator was ultimately developed for my own personal use but also because I discovered there weren't any other websites that offered the same service. I have a PlayStation account for PS3 and one for PS4 and I always wondered what my trophy score would be if I only had one account. Because trophy levels don't progress linearly you can't simply add the levels together. PlayStation Trophy Calculator solves that problem by allowing someone to enter the number of bronze, silver, gold and platinum trophies they have for each account and calculate trophy stats individually per account and if you combined the accounts.",
            "PlayStation Trophy Calculator features an animated background of PlayStation Symbols and looks nice on desktop or mobile. Currently PlayStation Trophy Calculator only supports entering the number of trophies manually so the next step would be to allow the user to enter the username of their account and to access a PlayStation API to retrieve the number of trophies for that account.",
            "<b>Notice</b>",
            "PlayStation Trophy Calculator is hosted on Heroku and may be sleeping, therefore it may take awhile to wake up. Please be patient!",
          ],
          images: [
            "PlayStation_Trophy_Calculator/Main_Screen.jpg",
            "PlayStation_Trophy_Calculator/Info.jpg",
            "PlayStation_Trophy_Calculator/One_Profile.jpg",
            "PlayStation_Trophy_Calculator/Two_Profiles.jpg",
            "PlayStation_Trophy_Calculator/Mobile_Format.jpg",
          ],
          website: "https://playstationtrophycalculator.herokuapp.com/",
          android: false,
          bitbucket:
            "https://bitbucket.org/stevespecht/playstation-trophy-level-calculator/commits/",
          logoIcon: false,
          colour: "#003891",
          logo: "trophy_Gold.png",
          hint: "",
        },
        // INFO5059 Case Study
        {
          name: "INFO5059 Case Study",
          stack: "Angular, Java Spring Boot, H2 Database",
          type: "Solo Fanshawe",
          year: "Fall 2019",
          shortDescription:
            "A business to business digital storefront for a surfing company distributor.",
          description: [
            "INFO5059 Case Study was a project worked on the entire semester for the INFO-5059 Client/Server class, with the goal of creating a business to business digital storefront for a distributor to service their vendors.",
            "<b>Features</b>",
            "<ul><li>Login and authentication</li><li>Full CRUD operations for vendors and products using REST. Enter product info, inventory info and generate QR codes</li><li>Pagination</li><li>Create purchase orders for the vendor, generate PDF receipts of the purchase order</li><li>View purchase orders previously generated for each vendor</li>",
            "<b>Notice</b>",
            "INFO5059 Case Study was primarily designed for a mobile format but also works on desktop. If you are viewing the site on desktop and would like to see the mobile format please go to inspect element in your browser and change the display to a mobile device for the intended viewing experience.",
            "INFO5059 Case Study is hosted on Heroku and may be sleeping, therefore it may take awhile to wake up. Please be patient!",
            "Login is required to access INFO5059 Case Study, please use the following credentials:",
            "Username: case2<br/>Password: c2",
          ],
          images: [
            "INFO5059CaseStudy/Login.png",
            "INFO5059CaseStudy/MainMenu.png",
            "INFO5059CaseStudy/ProductPage.png",
            "INFO5059CaseStudy/UpdateProduct.png",
            "INFO5059CaseStudy/VendorPage.png",
            "INFO5059CaseStudy/UpdateVendor.png",
            "INFO5059CaseStudy/PurchaseOrder.png",
            "INFO5059CaseStudy/ViewPurchaseOrder.png",
            "INFO5059CaseStudy/ViewPurchaseOrderDesktop.png",
          ],
          website: "https://info5059casestudy.herokuapp.com/",
          android: false,
          bitbucket:
            "https://bitbucket.org/stevespecht/info5056-case-study/src/master/",
          logoIcon: false,
          colour: "#80cbc4",
          logo: "wavelogo.png",
          hint: "",
        },
        // Finish Line
        {
          name: "Finish Line",
          stack: "React,  Node.js, Firebase",
          type: "Group of 2 at Fanshawe",
          year: "Spring 2019",
          shortDescription: "An agile sprint project management app.",
          description: [
            "Finish Line is an agile sprint management site that allows a scrum master to fully manage their team's agile work flow.",
            "<b>Features</b>",
            "<ul><li>Create projects</li></li><li>Add project owners</li><li>Add and update tasks</li><li>Add sprints, assign tasks to sprints</li><li>Overview of project, displaying sprint velocity, percent of each task completed, points worked and re-estimates points</li></ul>",
            "<b>Notice</b>",
            "Finish Line was primarily designed for a mobile format but also works on desktop. If you are viewing the site on desktop and would like to see the mobile format please go to inspect element in your browser and change the display to a mobile device for the intended viewing experience.",
            "Finish Line is hosted on Heroku and may be sleeping, therefore it may take awhile to wake up. Please be patient!",
          ],
          images: [
            "FinishLine/MainMenu.png",
            "FinishLine/ProjectSelected.png",
            "FinishLine/Owner.png",
            "FinishLine/Sprint.png",
            "FinishLine/Task.png",
            "FinishLine/Update.png",
            "FinishLine/Dashboard.png",
          ],
          website: "https://sprintfinishline.herokuapp.com/",
          android: false,
          bitbucket:
            "https://bitbucket.org/stevespecht/finish-line/src/master/",
          logoIcon: false,
          colour: "#bf717a",
          logo: "flaglogo.png",
          hint: "",
        },
        // Network Boggle
        {
          name: "Network Boggle",
          stack: "WPF",
          type: "Group of 2 at Fanshawe",
          year: "Spring 2019",
          shortDescription:
            "A recreation of the famous board game Boggle. Play with your friends over Local Area Network.",
          description: [
            "The goal of this project was to develop a distributed multi-player game that incorporates multiple assemblies using WCF. Our game needed to incorporate a service host assembly, a class library assembly including a service contract, data contract and callback contract, and a GUI. Network Boggle supports a minimum of 1 player up to any number of players.",
            "<b>Features</b>",
            "<ul><li>Boggle game logic is contained in it's own .dll and therefore can be utilised by other client/servers</li><li>Game doesn't start until all players are ready</li><li>Click on the letters or type to select your word</li><li>You can only select valid letters following the Boggle rules</li><li>Scoreboard screen displays your non-unique words, unique words, scored words and total scores</li></ul>",
            "<b>Notice</b>",
            "Potential words played are analysed by the Microsoft Word Object Library to determine if they are valid words therefore, you must have Microsoft Word installed.",
            // "<b>Start Up Inscructions<b>",
            // "Server Inscructions",
            // "<ul><li>The server only has to be hosted by one player on the local network</li><li>Navigate to the Server folder</li><li>Double click on the BoggleService.exe to run</li></ul>",
            // "Client Inscructions",
            // "If you are hosting the server",
            // "<ul><li>Navigate to the Client folder</li><li>Double click on the BoggleClient.exe to run</li></ul>",
            // "If you are not hosting the server and would like to connect the server on your Local Area Network",
            // "<ul><li>Start Command Prompt and navigate to the Client folder</li><li>Navigate to the Client folder</li><li>Double click on BoggleClient.exe</li></ul>",
          ],
          images: [
            "Boggle/MainScreen2.png",
            "Boggle/TypeWord.png",
            "Boggle/FinalScreen.png",
          ],
          website: "",
          android: false,
          bitbucket:
            "https://bitbucket.org/stevespecht/components-project-public/commits/",
          logoIcon: true,
          colour: "#ffcc99",
          logo: "mdi-alpha-b-box",
          logoColour: "#5995DA",
          hint: "",
        },
        // Chat It Up!
        {
          name: "Chat It Up!",
          stack: "React, Node.js",
          type: "Solo Fanshawe",
          year: "Spring 2019",
          shortDescription:
            "A non-persistent room based chat app, similar to Discord.",
          description: [
            "Chat It Up! is a chat app that allows users to text with multiple people at once in rooms, similar to Discord servers.",
            "Conversations in Chat It Up! are non-persistent, therefore if you join a room while other users are having a conversation you will not see their previous messages, that also means once you leave a room you cannot go back and see past conversations.",
            "All server client communication in Chat It Up! is accomplished through Socket.io.",
            "<b>Features</b><ul><li>Unique username validation</li><li>Chat groups</li><li>Typing indicator</li><li>Who's online dialog</li></ul>",
            "<b>Notice</b>",
            "Chat It Up! was primarily designed for a mobile format but also works on desktop. If you are viewing the site on desktop and would like to see the mobile format please go to inspect element in your browser and change the display to a mobile device for the intended viewing experience.",
            "Chat It Up! is hosted on Heroku and may be sleeping, therefore it may take awhile to wake up. Please be patient!",
          ],
          images: [
            "ChatItUp/MainMenu2.png",
            "ChatItUp/NameExists.png",
            "ChatItUp/chatting.png",
            "ChatItUp/typing2.png",
            "ChatItUp/whosOn.png",
          ],
          website: "https://sspecht-chat.herokuapp.com/",
          android: false,
          bitbucket: "https://bitbucket.org/stevespecht/chat-it-up/src/master/",
          logoIcon: true,
          colour: "rgb(211, 211, 211)",
          logo: "mdi-comment-text",
          logoColour: "#4A90E2",
          hint: "",
        },
      ],
    };
  },
  methods: {
    log(msg) {
      console.log(msg);
    },
  },
};
</script>

<style scoped>
html * {
  color: #317691;
}

/* ::selection {
  color: white;
  background: #40c9ff;
} */

.projectContainer {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.references {
  margin-top: 20px;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 20px;
}

.dividerBar {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: linear-gradient(to bottom right, #66ffff 0%, #0066ff 100%);
  height: 2px;
  border: 0px;
}

@media only screen and (max-width: 580px) {
  .projectContainer {
    width: 90%;
  }
}
</style>
