<template>
  <div class="workContainer">
    <!-- <div class="center"> -->
    <h3 class="references">References available upon request from</h3>
    <div class="referencesExamples">
      <ul>
        <li>Instructor from Fanshawe</li>
        <li>
          Business System Analyst Manager from TD Bank's Fraud and Financial
          Crimes Department
        </li>
        <li>
          Senior IT Manager from TD Bank's Fraud and Financial Crimes Department
        </li>
        <li>
          Solutions Developer from TD Bank's Fraud and Financial Crimes
          Department
        </li>
      </ul>
    </div>

    <h1>Industry Specific Experience</h1>

    <!-- <sequential-entrance delay="250" fromBottom> -->
    <div v-for="(work, index) in industryExperience" v-bind:key="work.position">
      <WorkExperience v-bind:work="work" />
      <hr
        center
        class="dividerBar"
        v-if="index != industryExperience.length - 1"
      />
    </div>
    <!-- </sequential-entrance> -->
    <br />
    <h1>General Experience</h1>
    <!-- <sequential-entrance delay="250" fromBottom> -->
    <div v-for="(work, index) in generalExperience" v-bind:key="work.position">
      <WorkExperience v-bind:work="work" />
      <hr
        center
        class="dividerBar"
        v-if="index != generalExperience.length - 1"
      />
    </div>
    <!-- </sequential-entrance> -->
    <br />
    <br />
  </div>
</template>
<script>
import WorkExperience from "../components/WorkExperience";
export default {
  name: "WorkExperiencePage",
  components: { WorkExperience },
  data() {
    return {
      industryExperience: [
        {
          image: "TD_Logo.png",
          position: "Developer Co-Op - Fraud and Financial Crimes",
          company: "TD Bank",
          location: "London, Ontario",
          experience:
            "1 year (Jan 2018 - Apr 2018, Sep 2018 - Dec 2018 and May 2019 - Aug 2019)",
          responsibilities: [
            "Maintained SQL Server databases vital to banking operations and customers’ financial security",
            "Designed and created SSIS packages to facilitate large data transfers of 100s of thousands of rows",

            "Updated internal ASP.NET websites to improve the user experience",
            "Created Java application tools to simplify various processes",
          ],
        },
        {
          image: "Winexpert_Logo2.png",
          position: "Website Maintenance",
          company: "Winexpert",
          location: "London, Ontario",
          experience: "Spring 2020 - present as needed",
          responsibilities: [
            "Maintain WordPress website to feature available products",
            "Updated all products after rebranding to improve marketing appearances",
          ],
        },
      ],
      generalExperience: [
        {
          image: "Winexpert_Logo2.png",
          position: "Wine Maker",
          company: "Winexpert",
          location: "London, Ontario",
          experience: "September 2019 - January 2020",
          responsibilities: [
            "Adhered to rigorous requirements when making wine",
            "Assisted customers",
          ],
        },
        {
          image: "Sobeys_Logo.png",
          position: "Deli Clerk",
          company: "Sobeys",
          location: "London, Ontario",
          experience: "August 2016 - December 2017",
          responsibilities: [
            "Assisted customers in choosing the best meat and cheese for their needs  ",
            "Kept the department clean and ensured products met safety standards",
            "Fulfilled orders, prepared food productions",
            "Trained new employees",
          ],
        },
        {
          image: "North_London_Nationals_Logo.png",
          position: "Time Keeper",
          company: "North London Hockey",
          location: "London, Ontario",
          experience: "September 2016 - April 2017",
          responsibilities: [
            "Updated score board in a time sensitive manner",
            "Recorded game progress on score sheet accurately in high stress situations",
            "Ensured the rules of the game were being followed",
          ],
        },
      ],
    };
  },
};
</script>

<style scoped>
html * {
  color: #317691;
}

/* ::selection {
  color: white;
  background: #40c9ff;
} */

.workContainer {
  width: 75%;
  margin: 0 auto;
}

.references {
  margin-top: 20px;
  text-align: center;
}

.referencesExamples {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 20px;
}

.dividerBar {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: linear-gradient(to bottom right, #66ffff 0%, #0066ff 100%);
  height: 2px;
  border: 0px;
  /* width: 75%; */
}
</style>
