<template>
  <div>
    <!-- full size -->
    <div v-if="!mobileCarousel">
      <div class="carouselContainer carouselContainerHeight">
        <div class="leftColumn">
          <v-btn
            small
            rounded
            dark
            class="carouselButton"
            @click="moveCarouselForward(false)"
          >
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
        </div>
        <div
          class="imageColumn"
          @click="toggleLightBox"
          :class="!showLightbox ? 'smallImage' : ''"
        >
          <img :src="baseURL + images[slideIndex]" class="carouselImage" />
        </div>
        <div class="rightColumn">
          <v-btn
            small
            rounded
            dark
            class="carouselButton"
            @click="moveCarouselForward(true)"
          >
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </div>
      </div>
      <div class="center">
        <span
          v-for="(dot, dotIndex) in images.length"
          :class="dotClass(dotIndex)"
          :key="dotIndex"
          @click="selectDot(dotIndex)"
        />
      </div>
    </div>

    <!-- mobile -->
    <div v-if="mobileCarousel">
      <div class="carouselContainerHeight">
        <div
          class="imageColumn"
          @click="toggleLightBox"
          :class="!showLightbox ? 'smallImage' : ''"
        >
          <img :src="baseURL + images[slideIndex]" class="carouselImage" />
        </div>
      </div>
      <div class="controlsContainer">
        <div class="mobileLeft">
          <v-btn
            small
            rounded
            dark
            class="carouselButton"
            @click="moveCarouselForward(false)"
          >
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
        </div>
        <div class="dotColumn mobileDots center">
          <span
            v-for="(dot, dotIndex) in images.length"
            :class="dotClass(dotIndex)"
            :key="dotIndex"
            @click="selectDot(dotIndex)"
          />
        </div>
        <div class="mobileRight">
          <v-btn
            small
            rounded
            dark
            class="carouselButton"
            @click="moveCarouselForward(true)"
          >
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </div>
      </div>
    </div>

    <!-- lightbox -->
    <v-dialog v-model="showLightbox">
      <v-card color="#bbb">
        <v-card-text class="center">
          <img
            :src="baseURL + images[slideIndex]"
            class="carouselImage zoomedImage"
            @click="toggleLightBox"
          />
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  name: "Carousel",
  props: ["images", "baseURL"],
  data() {
    return {
      slideIndex: 0,
      carouselThreshold: 580,
      mobileCarousel: false,
      showLightbox: false,
    };
  },
  mounted() {
    window.addEventListener("resize", this.resizeCarousel);
    this.resizeCarousel();
  },
  beforeDestroy: function() {
    window.removeEventListener("resize", this.resizeCarousel);
  },
  methods: {
    log(msg) {
      console.log(msg);
    },
    resizeCarousel() {
      if (window.innerWidth > this.carouselThreshold) {
        this.mobileCarousel = false;
      } else {
        this.mobileCarousel = true;
      }
    },
    moveCarouselForward(moveForward) {
      if (moveForward) {
        if (this.slideIndex == this.images.length - 1) {
          this.slideIndex = 0;
        } else {
          this.slideIndex++;
        }
      } else {
        if (this.slideIndex == 0) {
          this.slideIndex = this.images.length - 1;
        } else {
          this.slideIndex--;
        }
      }
    },
    selectDot(dotIndex) {
      this.slideIndex = dotIndex;
    },
    dotClass(dotIndex) {
      if (dotIndex == this.slideIndex) {
        return "currentDot";
      } else {
        return "dot";
      }
    },
    toggleLightBox() {
      this.showLightbox = !this.showLightbox;
    },
  },
};
</script>

<style scoped>
html * {
  color: #317691;
}

.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselContainerHeight {
  height: 400px;
}

.leftColumn {
  flex: 0 0 10%;
  order: 1;
}

.imageColumn {
  flex: 0 0 80%;
  order: 2;
  background-color: #bbb;
  height: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.carouselImage {
  max-width: 100%;
  max-height: 100%;
  /* transition: 1s ease-in-out; */
  z-index: 5;
}

.smallImage {
  cursor: zoom-in;
}

.zoomedImage {
  cursor: zoom-out;
}

.v-dialog > .v-card > .v-card__text {
  padding: 20px;
}

.rightColumn {
  flex: 0 0 10%;
  order: 3;
}

.carouselButton {
  margin: 10px;
  background: linear-gradient(to bottom right, #66ffff 0%, #0066ff 100%);
}

.center {
  text-align: center;
}

.controlsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileLeft {
  flex: 0 0 10%;
  order: 1;
  float: left;
}

.mobileDots {
  flex: 0 0 50%;
  order: 2;
}

.mobileRight {
  flex: 0 0 10%;
  order: 3;
  float: right;
}

/* dots */
.dot,
.currentDot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px 2px 0px 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  vertical-align: middle;
}

.dot {
  background-color: #bbb;
}

.currentDot {
  background: linear-gradient(to bottom right, #66ffff 0%, #0066ff 100%);
}

.dot:hover,
.currentDot:hover {
  background-color: #66ffff;
}
</style>
