<template>
  <div class="frame">
    <v-card outlined>
      <div class="educationComponent center">
        <v-avatar class="ma-3" size="125" tile>
          <img
            :src="baseURL + education.logo"
            :alt="education.name + ` logo`"
          />
        </v-avatar>
        <h3>{{ education.name }}</h3>
        Education: {{ education.type }}
        <br />
        Comfort Level: {{ education.comfortLevel }}
      </div>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "Education",
  props: ["education"],
  data() {
    return { baseURL: `/assets/images/educationLogo/` };
  },
  methods: {},
};
</script>

<style scoped>
html * {
  color: #317691;
}
img {
  object-fit: contain;
}
h3 {
  text-align: center;
}
.center {
  text-align: center;
}
.educationComponent {
  width: 225px;
  padding-bottom: 10px;
}
.frame {
  margin: 10px;
  /* border: solid 2px;
  border-radius: 0px 20px 0px 20px;
  border-image: linear-gradient(to bottom right, #66ffff 0%, #0066ff 100%) 1;
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom right, #66ffff 0%, #0066ff 100%);
  background-origin: border-box;
  background-clip: content-box, border-box; */
}
</style>