<template>
  <div>
    <!-- hint -->
    <div
      class="hintWrapper"
      :style="project.hint !== '' ? 'opacity: 1' : 'opacity: 0'"
    >
      <div class="hint">
        {{ project.hint }}
      </div>
      <img src="/assets/images/blue arrow.png" class="hintArrow" />
    </div>
    <v-card
      id="projectCard"
      class="elevation-0"
      :ripple="!showProjectInfo"
      :class="showProjectInfo ? 'projectCardNoAnimation' : 'projectCard'"
      @click="openProjectInfo()"
    >
      <!-- project info -->
      <div :class="showProjectInfo ? 'projectCardFull' : 'projectCardLeft'">
        <!-- close button -->
        <div class="closeModalButtonContainer" v-if="showProjectInfo">
          <v-icon class="closeModalButton" @click="closeProjectInfo($event)"
            >mdi-unfold-less-horizontal</v-icon
          >
        </div>
        <!-- small info -->
        <div class="projectInfo">
          <h2>{{ project.name }}</h2>

          Stack: {{ project.stack }}
          <br />
          Project Type: {{ project.type }}
          <br />
          Year: {{ project.year }}
          <br />
          <br />
          {{ project.shortDescription }}
          <br />
        </div>
        <!-- full info -->
        <div v-if="showProjectInfo" class="projectInfo">
          <div class="description">
            <div v-for="(paragraph, index) in project.description" :key="index">
              <div v-html="paragraph" class="paragraph" />
            </div>
          </div>
          <!-- images -->
          <div v-if="project.images.length !== 0" class="slides">
            <Carousel
              :images="project.images"
              :baseURL="'/assets/images/projectScreenShots/'"
            />
          </div>
          <!-- Source Buttons -->
          <div style="text-align: center">
            <v-btn
              small
              rounded
              dark
              class="sourceButton"
              @click="openLink(project.website)"
              v-if="!project.android && project.website !== ''"
            >
              <v-icon class="sourceButtonIcon">mdi-web</v-icon>Website
            </v-btn>
            <v-btn
              small
              rounded
              dark
              class="sourceButton"
              @click="openLink(project.website)"
              v-if="project.android && project.website !== ''"
            >
              <v-icon class="sourceButtonIcon">mdi-android</v-icon>Play Store
            </v-btn>
            <v-btn
              small
              rounded
              dark
              class="sourceButton"
              @click="openLink(project.bitbucket)"
            >
              <v-icon class="sourceButtonIcon">mdi-bitbucket</v-icon>Source code
            </v-btn>
          </div>
        </div>
      </div>
      <!-- logo -->
      <div
        class="projectCardRight"
        :style="{ backgroundColor: project.colour }"
      >
        <div class="projectLogo">
          <div class="projectImage">
            <v-icon
              v-if="project.logoIcon"
              size="100"
              :style="{ color: project.logoColour }"
            >
              {{ project.logo }}</v-icon
            >
          </div>

          <div class="projectImage">
            <img
              v-if="!project.logoIcon"
              :src="baseURL + project.logo"
              class="logoImage"
            />
          </div>
        </div>
      </div>
    </v-card>
  </div>
</template>
<script>
import Carousel from "../components/Carousel";
export default {
  name: "Project",
  components: { Carousel },
  props: ["project"],
  data() {
    return {
      baseURL: "/assets/images/projectLogos/",
      showProjectInfo: false,
    };
  },
  methods: {
    openProjectInfo() {
      this.showProjectInfo = true;
    },
    closeProjectInfo($event) {
      $event.stopPropagation();
      this.showProjectInfo = false;
    },
    openLink(url) {
      window.open(url);
    },
    log(msg) {
      console.log(msg);
    },
  },
};
</script>
<style scoped>
html * {
  color: #317691;
}

.projectCard {
  display: flex;
  margin: 5px 20px 10px 20px;
  border: thin solid rgba(0, 0, 0, 0.12);
}

.v-card--link:focus:before {
  opacity: 0 !important;
}

.projectCardMobile {
  flex-direction: column;
}

.projectCard:hover {
  cursor: pointer;
  animation: 0.3s ease-in-out 0s 1 wiggle;
}

.projectCardNoAnimation {
  display: flex;
  margin: 5px 20px 10px 20px;
  border: thin solid rgba(0, 0, 0, 0.12);
}
.projectCardNoAnimation:hover {
  cursor: default;
}

.projectCardLeft {
  flex: 0 0 70%;
  order: 1;
  padding: 0px 0px 10px 10px;
  transition: 0.1s linear;
}

.projectCardRight {
  flex: 1;
  order: 2;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 4px;
  /* transition: 0.1s linear; */
}

.projectCardFull {
  flex: 0 0 85%;
  order: 1;
  /* border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; */
}

.projectLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.projectImage {
  height: 175px;
  display: flex;
  align-items: center;
}

.logoImage {
  width: 100px;
}

.projectInfo {
  margin: 10px;
}

.closeModalButtonContainer {
  width: 100%;
}

.closeModalButton {
  float: right;
  margin: 5px;
  padding: 5px;
  /* background-color: rgba(0, 0, 0, 0.12); */
  border: thin solid rgba(0, 0, 0, 0.12);
  border-radius: 90px;
}
.closeModalButton:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-1.5deg);
  }
  20% {
    transform: rotate(-3deg);
  }
  30% {
    transform: rotate(-1.5deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1deg);
  }
  60% {
    transform: rotate(2deg);
  }
  70% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.sourceButton {
  margin: 10px;
  width: 150px;
  background: linear-gradient(to bottom right, #66ffff 0%, #0066ff 100%);
}

.sourceButtonIcon {
  margin-right: 5px;
}

.description {
  margin-bottom: 25px;
}

.slides {
  /* width: 80%; */
  margin: 0 auto;
}

.hintWrapper {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
}

.hint {
  font-family: "Architects Daughter", cursive;
  /* text-align: right; */
  /* padding-bottom: 10px; */
  margin-left: auto;
}

.hintArrow {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

@media only screen and (max-width: 580px) {
  .projectCard,
  .projectCardNoAnimation {
    flex-direction: column;
  }

  .projectCardLeft,
  .projectCardFull {
    order: 2;
  }

  .projectCardRight {
    order: 1;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0 !important;
  }
}

.paragraph {
  margin-top: 10px;
  margin-bottom: 10px;
}
</style>
