<template>
  <!-- <v-card class="workCard" light tile> -->
  <div class="workExperienceContainer">
    <!-- <v-avatar class="ma-3" size="125" tile>
      <img :src="baseURL + work.image" :alt="work.company + ` logo`" />
    </v-avatar> -->
    <div class="workLogoContainer">
      <img
        :src="baseURL + work.image"
        :alt="work.company + ` logo`"
        class="workLogo"
      />
    </div>
    <div class="workInfo">
      <v-card-title>
        <h3>{{ work.position }}</h3>
      </v-card-title>
      <v-card-subtitle>
        <div>
          <h4>{{ work.company }}</h4>
          <p>{{ work.location }}</p>
          <p>
            <span class="category">Experience:</span>
            {{ work.experience }}
          </p>
          <p class="category">Responsibilities</p>
          <ul>
            <li v-for="resp in work.responsibilities" v-bind:key="resp">
              {{ resp }}
            </li>
          </ul>
        </div>
      </v-card-subtitle>
    </div>
  </div>
  <!-- </v-card> -->
</template>
<script>
export default {
  name: "WorkExperience",
  props: ["work"],
  data() {
    return { baseURL: `/assets/images/companyLogos/` };
  },
  methods: {
    log(msg) {
      console.log(msg);
    },
  },
};
</script>

<style scoped>
html * {
  color: #317691;
}

/* ::selection {
  color: white;
  background: #40c9ff;
} */

.workExperienceContainer {
  display: flex;
}

.workLogoContainer {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.workLogo {
  width: 200px;
}

h3 {
  word-break: normal;
}

.category {
  font-weight: bold;
}

/* img {
  object-fit: contain;
} */

@media only screen and (max-width: 580px) {
  .workExperienceContainer {
    display: block;
  }
}
</style>
