<template>
  <v-app>
    <v-main>
      <v-card class="navBar" color="primary" tile dark>
        <h1 class="navTitle">Steven Specht</h1>

        <!-- Contact -->
        <div class="center">
          <div class="contactButtonWrapper">
            <input type="hidden" id="emailLink" :value="email" />
            <div class="contactButton">
              <v-btn small rounded dark outlined @click="copyToClipboard()">
                <v-icon>mdi-content-copy</v-icon> {{ email }}
              </v-btn>
            </div>
            <div class="contactButton">
              <v-btn
                small
                rounded
                dark
                outlined
                @click="
                  openLink(
                    'https://www.linkedin.com/in/steven-specht-3a593b135/'
                  )
                "
              >
                <v-icon>mdi-linkedin</v-icon> Linkedin
              </v-btn>
            </div>
          </div>
        </div>

        <!-- tabs -->
        <v-tabs
          :centered="!mobileFormat"
          :grow="mobileFormat"
          :vertical="mobileFormat"
          light
          color="white"
          background-color="#40c9ff"
          style="width: 100%"
        >
          <v-tab
            v-for="(route, routeIndex) of routes"
            :to="route.url"
            :key="routeIndex"
            class="navBarTab"
          >
            {{ route.name }}
          </v-tab>
        </v-tabs>
      </v-card>
      <router-view />
      <!-- scroll to top button -->
      <v-btn
        fab
        fixed
        dark
        bottom
        right
        v-scroll="onScroll"
        @click="scrollToTop"
        class="scrollTopButton"
        :class="
          showToTopBtn
            ? ' scrollTopButtonAnimateIn'
            : 'scrollTopButtonAnimateOut'
        "
      >
        <v-icon>mdi-arrow-up</v-icon>
      </v-btn>
      <!-- Snackbar -->
      <v-snackbar
        v-model="showCopySnackbar"
        :timeout="snackbarTimeout"
        rounded="pill"
        color="primary"
      >
        {{ snackBarMsg }}
        <template v-slot:action="{ attrs }">
          <v-btn
            color="white"
            text
            small
            rounded
            dark
            v-bind="attrs"
            @click="showCopySnackbar = false"
          >
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      pageWidth: window.innerWidth,
      tabThreshold: 580,
      showToTopBtn: false,
      toTopButtonThreshold: 150,
      mobileFormat: false,
      routes: [
        { url: "/about", name: "About Me" },
        { url: "/education", name: "Education" },
        { url: "/workexperience", name: "Work Experience" },
        { url: "/projects", name: "Projects" },
      ],
      email: "sspecht@outlook.com",
      showCopySnackbar: false,
      snackbarTimeout: 3000,
      snackBarMsg: "",
    };
  },
  methods: {
    onScroll(e) {
      if (typeof window === "undefined") {
        return;
      }

      this.showToTopBtn =
        (window.pageYOffset || e.target.scrollTop || 0) >
        this.toTopButtonThreshold;
    },

    scrollToTop() {
      this.$vuetify.goTo(0);
    },

    checkResize() {
      if (window.innerWidth > this.tabThreshold) {
        this.mobileFormat = false;
      } else {
        this.mobileFormat = true;
      }
    },

    openLink(url) {
      window.open(url);
    },

    copyToClipboard() {
      let email = document.querySelector("#emailLink");
      email.setAttribute("type", "text");
      email.select();

      try {
        if (document.execCommand("copy")) {
          this.showCopySnackbar = true;
          this.snackBarMsg = this.email + " copied to clipboard";
        }
      } catch (err) {
        this.showCopySnackbar = true;
        this.snackBarMsg =
          "Error! " + this.email + " couldn't be copied to clipboard";
      }

      email.setAttribute("type", "hidden");
      window.getSelection().removeAllRanges();
    },
  },
  mounted() {
    this.checkResize();
    window.onresize = () => {
      this.checkResize();
    };
  },
};
</script>

<style>
html * {
  font-family: Segoe UI, "Open Sans", Roboto;
}
/* body {
  background-color: lightgray;
} */
.navBar {
  background-color: #40c9ff;
  color: white;
}

.navTitle {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 250%;
}

.navBarTab {
  text-transform: none !important;
}

.scrollTopButton {
  background: linear-gradient(to bottom right, #66ffff 0%, #0066ff 100%);
  transition: transform 0.3s linear;
}

.scrollTopButtonAnimateIn {
  transform: scale(1);
}

.scrollTopButtonAnimateOut {
  transform: scale(0);
}

.center {
  text-align: center;
}

.contactButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactButton {
  margin: 0px 10px 20px 10px;
}

@media only screen and (max-width: 580px) {
  .contactButtonWrapper {
    display: block;
  }
}
</style>
